<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="tws.repository.PackagerMapper">
    <select id="selectAll" resultType="tws.entity.Packager">
        select * from `packager`;
    </select>

    <select id="selectOne" resultType="tws.entity.Packager">
        select * from `packager` where id = #{id};
    </select>

    <insert id="insert" parameterType="tws.entity.Packager">
       insert into `packager`(`id`,`receiver`,`phone`,`weight`,`status`,`appointment`)
       values(#{packager.id},#{packager.receiver},#{packager.phone},#{packager.weight},#{packager.status},#{packager.appointment});
    </insert>

    <update id="update" parameterType="tws.entity.Packager">
        update `packager` set `status` = '已预约', `appointment` = #{packager.appointment} where id = #{id};
    </update>
</mapper>
